<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş - Yapılacaklar Uygulaması</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <div class="auth-page-container">
        <h1>Yapılacaklar Uygulaması</h1>
        <div id="login-container">
            <div class="modal-content">
                <form id="login-form">
                    <h2>Giriş Yap</h2>
                    <input type="email" id="login-email" placeholder="E-posta" required>
                    <input type="password" id="login-password" placeholder="Şifre" required>
                    <div class="modal-buttons">
                        <button type="submit" class="save-btn">Giriş Yap</button>
                    </div>
                    <p class="form-switcher">Hesabınız yok mu? <a id="show-register-btn">Buradan kaydolun</a></p>
                </form>
            </div>
        </div>

        <div id="register-container" style="display: none;">
            <div class="modal-content">
                <form id="register-form">
                    <h2>Kaydol</h2>
                    <input type="email" id="register-email" placeholder="E-posta" required>
                    <input type="password" id="register-password" placeholder="Şifre" required>
                    <div class="modal-buttons">
                        <button type="submit" class="save-btn">Kaydol</button>
                    </div>
                    <p class="form-switcher">Zaten bir hesabınız var mı? <a id="show-login-btn">Buradan giriş yapın</a></p>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='/javascript/login.js') }}"></script>
</body>
</html>